{% extends "base.html" %}
{% block content %}
<div class="settings parameter">

	<p>
		This site is a clone of <a href="http://www.codereddit.com">http://www.codereddit.com</a>.<br />
		One of the reasons I did this, is because I prefer Sublime Text theme, and other code syntax.
	</p>

	<p>
		You can check the source code at <a href="https://github.com/aesptux/sublime-reddit">GitHub</a>.
	</p>

	<p>
		If you have any suggestions, or you find a bug, you can open a ticket at GitHub and I will be pleased to help.
	</p>

	<p>
		Feel free to contact me at twitter: <a href="http://www.twitter.com/aesptux">@aesptux</a>
		<br />
		Or by email: aespinosamoreno [AT] gmail [DOT] com
	</p>
</div>
{% endblock %}